body{
    background-color: black;
}

.cardBackground{
    background-color: black;
    border: 1px solid white;
}

.orangeColor{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(255, 213, 0);
  }

  .blueColor{
    color: rgb(41, 102, 207);
  }

  .greenColor{
    color: rgb(47, 255, 47);
  }

  .whiteColor{
    color: white;
  }

  .violetColor{
    color: rgb(144, 43, 237);
  }

  .redColor{
    color: rgba(249, 32, 32, 0.833);
  }
